<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Green-E</title>
  <link rel="stylesheet" href="/Styles/main.css">
  <!-- CSS only -->

  <title>Title</title>
</head>
<body>
<div class="navbar navbar-expand-md bg-light sticky-top">
  <div class="container">
    <a href="index.html">
      <p class="navbar-brand">Green-E</p>
    </a>

    <ul class="navbar-nav">
      <!--        Navlink1-->
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <!--       Navlink2 -->
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <!--       Navlink3 -->
      <li class="nav-item">
        <a class="nav-link" href="services.html">Services</a>
      </li>
      <!--       Navlink4 -->
      <li class="nav-item">
        <a class="nav-link" href="contact_portfolio.html">Contact&Portfolio</a>
      </li>
    </ul>

  </div>
</div>
</body>
</html>